.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 92px 50px 96px;
  background-color: #fff;
}

.header__links-list {
  display: flex;
  gap: 13px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.header__link {
  text-decoration: none;
  color: black;
  margin-right: 13px;
}

.header__link_active {
  text-decoration: underline;
}

.header__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.header__logo-image {
  width: 148px;
  height: 105px;
}

.header__address {
  width: 260px;
  flex-shrink: 0;
  font-style: normal;
  line-height: 24.3px;
}

.header__address a {
  display: block;
}

.header__link {
  text-decoration: none;
  color: black;
}

.header__link:hover {
  text-decoration: underline;
}

.cover {
  position: relative;
  height: 750px;
  background: url("../images/cover.jpg") no-repeat center center;
  background-size: cover;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.overlay_cover {
  padding: 165px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cover__title {
  width: 100%;
  font-size: 100px;
  color: white;
  font-weight: 700;
  line-height: 115%;
}

.title__string {
  display: block;
}

.aligned-text_left {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.expanded {
  letter-spacing: 30px;
}

.cover__description {
  display: flex;
  gap: 80px;
  align-items: center;

  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  text-transform: uppercase;
}

.bet-button {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 28px;

  padding: 12px 32px;
  background-color: transparent;
  border: 2px solid white;
  color: white;
  cursor: pointer;
  transition: color 0.3s ease, background-color 0.3s ease;
}

.bet-button:hover {
  background-color: white;
  color: black;
}

.lots {
  padding: 0 20px;
  margin-top: 180px;
}

.lots__heading {
  margin-bottom: 28px;
  padding-left: 40px;
  color: #000;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
}

.lots__card-list-item {
  flex-grow: 1;
  max-width: 334px;
  min-height: 563px;
}

.card-link {
  text-decoration: none;
  display: block;
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 334px;
  height: 563px;
  padding: 50px 40px;
  height: 100%;
  color: #fff;
}

.card_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.overlay_card {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.card_type_film {
  background-image: url(../images/card-lot-01.jpg);
}

.card_type_book {
  background-image: url(../images/card-lot-02.jpg);
}

.card_type_picture {
  background-image: url(../images/card-lot-03.jpg);
}

.card__title {
  font-weight: 700;
  line-height: 120%;
  font-size: 22px;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card__text {
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
}

.lots__look-more-link {
  display: block;
  margin-top: 30px;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-transform: lowercase;
}

.about {
  display: flex;
  justify-content: space-between;
  padding: 55px 20px 0 70px;
  margin: 150px 0 180px;
}

.about_logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  border-radius: 50%;
  background-color: #000;
}

.about_logo img {
  width: 148px;
}

.about_text {
  width: 688px;
}

.about_title {
  margin-top: 100px;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.about_paragraphs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 100px;

  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.2px;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 0 50px 90px;
}

.footer_links {
  font-size: 18px;
  text-align: center;
}

.footer_images {
  display: flex;
  gap: 48px;
}

.footer_images img {
  width: 48px;
  height: 48px;
}
